name: Passing Variable
on:
  workflow_dispatch

jobs:
  Producer:
    runs-on: ubuntu-latest
    outputs:
      foo: ${{ steps.set-output.outputs.foo }}
      foo_upper: ${{ steps.set-output.outputs.foo }}
    steps:
      - name: Set output
        id: set-output
        run: |
          foo=bar

          echo "foo=${foo}" >> "$GITHUB_OUTPUT"

          echo "FOO=${foo}" >> "$GITHUB_ENV"

      - name: Inspect values inside producer
        run: |
          echo "FOO (set via GITHUB_ENV): $FOO"
          echo "foo (set via GITHUB_OUTPUT): ${{ steps.set-output.outputs.foo }}"
  

  Consumer:
    runs-on: ubuntu-latest
    needs: Producer
    steps:
      - name: Inspect values inside consumer
        run: |
          echo "foo (set via GITHUB_OUTPUT): ${{ needs.Producer.outputs.foo }}"
          echo "FOO (set via GITHUB_ENV): ${{ needs.Producer.outputs.foo_upper }}"